In [37]:
# import os
# os.chdir(r"C:\Users\Dell\Documents")

import pandas as pnd

# Working with excel
xl = pnd.read_excel('temp.xlsx')
# xl = pnd.read_excel('temp.xlsx', sheet_name='sheet1')
# xl = pnd.read_excel('temp.xlsx', sheet_name= 0)

xl = pnd.read_excel('temp.xlsx', sheet_name='Sheet1', index_col=0)
xl = pnd.read_excel('temp.xlsx', sheet_name=0, index_col=1, header=1)
xl = pnd.read_excel('temp.xlsx', sheet_name=0, usecols = "B,C:D")
xl = pnd.read_excel('temp.xlsx', sheet_name=0, skiprows= 3, index_col=0)
xl = pnd.read_excel('temp.xlsx', sheet_name=0, header=[0,1,2])
# xl

#NAN
xl.dropna(how='all', axis=1)
#xl.dropna(how='all', axis=1, inplace = True)
# xl.dropna(axis=0, how = 'any')
# xl.fillna(0)
# xl.fillna(method='bfill')
# xl.fillna(method='ffill')
# xl.fillna(method='ffill', axis=0)

  Unnamed: 0_level_0      Нэр   Нас Хүйс          РД
                   1     Оюун    47   Эм  УБ73010103
                   2    Сугар    21   Эр  УК99121232
0                3.0   Алимаа  30.0   Эм  ГК90020212
1                NaN      NaN   NaN  NaN         NaN
2                NaN      NaN   NaN  NaN         NaN
3                NaN      NaN   NaN  NaN         NaN
4                4.0   Мандах  40.0   Эр  ХБ80070737
5                5.0  Төрмөнх  25.0   Эр  ПЭ95051772